body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.calculator {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1b805b; /* Set the background color to your preferred color */
    color: #fff; /* Set the text color to white for better contrast */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #143605; /* Set the hover background color to a slightly darker shade */
}
